**/.git
**/.gitignore
**/.env
**/.vscode
**/.DS_Store
**/README.md
**/LICENSE
**/docker-compose*.yml
**/Dockerfile*
**/*.user
**/*.swp
**/*.bak
**/*.tmp

**/bin/
**/obj/
**/out/
**/publish/
**/TestResults/

**/node_modules/
**/npm-debug.log
**/yarn-error.log
**/dist/
**/.parcel-cache/
**/.next/
**/coverage/

**/.idea/
**/.vs/
**/.project
**/.classpath
**/.settings/
**/.suo
**/*.sln.docstates

**/Thumbs.db
**/desktop.ini

Dockerfile*
docker-compose*.yml
